* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
	}

.topNav {
    width: 70vw;
    background-color: lightgray;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 25px;
}
.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.searchText {
    border: solid black 2px;
    width: 30vw;
}
.btnTitle {
    border: solid black 2px;
    width: 5vw;
    box-shadow: 7px 6px 3px;
}

.mainBody {
    /* background-color: aqua; */
    display: flex;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}

.bodyLeft {
    /* background-color: blanchedalmond; */
    flex: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly

}
.infoCard {
    display: flex;
    border: solid black 2px;
    padding: 50px 20px;
    /* background-color: aqua; */
}
.infoBoxLeft {
    /* background-color: aquamarine; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.nounItal {
    font-style: italic;
}
.infoButton {
    border: black solid 2px;
    box-shadow: 7px 6px 3px;
    width: 5vw;
    background-color: tomato;
}
.infoBoxRight {
    /* background-color: bisque; */
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


    /* body right edit */
.bodyRight {
    /* background-color: black; */
    flex: 1;
    padding: 50px 25px;
}
.defineCard {
    /* background-color: aquamarine; */
    display: flex;
    border: solid black 2px;
    padding: 55px 25px;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 40px;
    font-size: xx-large;
}
.greenBtn {
    background-color: lightgreen;
}
